<p>下にスクロールすると日本語があります。</p>

<p>HELLO {{ Name }}!</p>

<p>You have been invited to create a classroom account for HELLO YOU! To set up your account and get started, please click here:</p>

<p>HELLO YOU! <a href={{ InvitationLink }} target="_blank"><strong>LINK</strong></a></p>

<p>We hope you and your students enjoy using the HELLO YOU app!</p>

<p>Just a heads up, this is an auto generated message. Replies will go into a deep, dark hole. If you have any questions, please contact our customer care at {{ ContactInfo | link_to: ContactInfoUrl }}. We are always here to help.</p>

<p>Happy Learning!</p>

<p>Katie Kato and The HELLO YOU! Team</p>

<img src="{{ LogoUrl }}" />

<hr class="solid"/>

<p>HELLO {{ Name }} 様 </p>

<p>お世話になります。この度は『HELLO YOU!』をご利用いただき、誠にありがとうございます。</p>

<p>Hello! Classroom のアカウントを作るには、初めにここをクリックして下さい。</p>

<p>HELLO YOU! <a href={{ InvitationLink }} target="_blank"><strong>LINK</strong></a></p>

<p>生徒と楽しい時間を過ごそう！</p>

<p>本メールは送信専用のためご返信いただいてもお答えすることができません。</p>

<p>今後とも『{{ ContactInfo | link_to: ContactInfoUrl }}』をよろしくお願いします。 Happy Learning!</p>

<p>Katie Kato and The HELLO YOU! Team</p>

<img src="{{ LogoUrl }}" />