<p>下にスクロールすると日本語があります。</p>

<p>HELLO {{ Name }},</p>

<p>It looks like you forgot your password. Don't worry! It happens to the best of us.</p>

<p>To update your password and continue enjoying HELLO YOU!, please click here<p/>

<p>HELLO YOU! <a href={{ PasswordResetLink }} target="_blank"><strong>LINK</strong></a></p>

<p>If you did not request to reset your password, please contact our customer care {{ ContactInfo | link_to: ContactInfoUrl }}. We are always here to help.</p>

<p>Just a heads up, this is an auto generated message. Replies will go into a deep, dark hole. If you have any questions, please contact our customer care {{ ContactInfo | link_to: ContactInfoUrl }}. We are always here to help.</p>

<p>Happy Learning!</p>

<p>Katie Kato and The HELLO YOU! Team</p>

<img src="{{ LogoUrl }}" />

<hr class="solid"/>

<p>HELLO {{ Name }} 様</p>

<p>お世話になります。この度は『HELLO YOU!』をご利用いただき、誠にありがとうございます。</p>

<p>パスワードを忘れた方は変更手続きのためこちらをクリックして下さい。</p>
<p>HELLO YOU! <a href={{ PasswordResetLink }} target="_blank"><strong>LINK</strong></a></p>

<p>本メールは送信専用のためご返信いただいてもお答えすることができません。</p>

<p>このメールにお心当たりのない方、その他ご不明な点がございましたら、大変お手数ですが下記までお気軽にご連絡下さい。{{ ContactInfo | link_to: ContactInfoUrl }}</p>

<p>今後とも『HELLO YOU!』をよろしくお願いします。</p>

<p>Happy Learning!</p>

<p>Katie Kato and The HELLO YOU! Team</p>

<img src="{{ LogoUrl }}" />