<p>下にスクロールすると日本語があります。</p>
<p>
    HELLO {{ Name }}, <p>

<p>Your password has been updated successfully. Now you can continue to enjoy your HELLO YOU! Classroom account.</p>

<p>If you did not update your password, please contact our customer care at {{ ContactInfo | link_to: ContactInfoUrl }}. We are always here to help.</p>

<p>Just a heads up, this is an auto generated message. Replies will go into a deep, dark hole. If you have any questions, please contact our customer care at {{ ContactInfo | link_to: ContactInfoUrl }}. We are always here to help.</p>

<p>Happy Teaching!</p>

<p>Katie Kato and The HELLO YOU! Team</p>

<img src="{{ LogoUrl }}" />
        
<hr class="solid"/>

<p>HELLO {{ Name }} 様 </p>

<p>お世話になります。この度は『HELLO YOU!』をご利用いただき、誠にありがとうございます。</p>

<p>お客様が手続きをされた、パスワードの変更手続きが完了いたしました。</p>

<p>本メールは送信専用のためご返信いただいてもお答えすることができません。</p>

<p>このメールにお心当たりのない方、その他ご不明な点がございましたら、大変お手数ですが下記までお気軽にご連絡下さい。{{ ContactInfo | link_to: ContactInfoUrl }}.</p>

<p>今後とも『HELLO YOU!』をよろしくお願いします。 </p>

<p>Happy Teaching!  </p>

<p>Katie Kato and The HELLO YOU! Team</p>

<img src="{{ LogoUrl }}" />